<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!--- ----------------------- -->
    <h2>All members</h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      {% for x in members %}
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.first_name }}</td>
        <td>{{ x.last_name }}</td>
      </tr>
      {% endfor %}
    </table>

    <h2>All members first name</h2>
    <table border="1">
      {% for x in members_first_name %}
      <tr>
        <td>{{ x }}</td>
      </tr>
      {% endfor %}
    </table>

    <h2>Member: Emil</h2>

    {{ emil }}

    <p>Loop through the items:</p>

    <table border="1">
      <tr>
        <th>id</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      {% for x in emil %}
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.first_name }}</td>
        <td>{{ x.last_name }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
